<div class="row">
	<!-- Content -->
	<div class="6u">
		<section>
			<ul class="style">
				<li class="fa" :class="items[0].icon">
					<div v-html="items[0].content"></div>
				</li>
				<li class="fa" :class="items[2].icon">
					<div v-html="items[2].content"></div>
				</li>
			</ul>
		</section>
	</div>
	<div class="6u">
		<section>
			<ul class="style">
				<li class="fa" :class="items[1].icon">
					<div v-html="items[1].content"></div>
				</li>
				<li class="fa" :class="items[3].icon">
					<div v-html="items[3].content"></div>
				</li>
			</ul>
		</section>
	</div>
</div>
